<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <!--引入Bootstrap样式!-->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<div class="container">
    <div class="text-right">
        <a href="/login"  class="alert-success">登录用户</a>
    </div>
    <div class="jumbotron">
        <h1 class="text-center">程序设计竞赛证照系统注册</h1>
    </div>
</div>

<form method = 'post' enctype="multipart/form-data">
    {% csrf_token %}
    {{userform.as_p}}
    <input type="submit" value = "注册" />
</form>
</body>
</html>




